form > div {
  padding:.2rem 1rem;
}

form > div > label{
margin-right: .5rem;
}

form > div > label::after{
  content: ":";
  }

  /* styles validation */
  .error{
    display: none;
    color: tomato;
    margin-left: .5rem;
  }


input:valid,
select:valid{
  border:1px solid green;
}
  
input:invalid,
select:invalid{
  border:1px solid tomato;
}  


input:invalid + .error ,
select:invalid + .error{
 display: inline;
}
  

